@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
  input {
    @apply text-sm text-gray-600 border rounded-md p-3 border-gray-400;
  }
} */

.hand-color button.type-white {
  background-color: rgb(227, 179, 158);
  border-color: rgb(173, 109, 81);
}

.hand-color button.type-brown {
  background-color: rgb(98, 65, 34);
  border-color: rgb(54, 32, 12);
}

.hand-color button.type-yellow {
  background-color: rgb(255, 227, 46);
  border-color: rgb(198, 174, 14);
}

.spot-lesson {
  height: 60px;
  width: 70px;
  border: none;
  user-select: none;
  touch-action: manipulation;
  outline: 10px solid inherit;
  border-radius: 100%;
  position: relative;
  transition: all 0.3s ease 0s;
}

.spot-lesson .back {
  background: inherit;
  border-radius: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  filter: brightness(0.5);
}
.spot-lesson .front {
  background: inherit;
  border-radius: 100%;
  position: absolute;
  left: 0px;
  top: -4px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
  font-weight: 600;
  transform: translateY(-10%);
  transition: all 0.15s ease 0s;
}
